## Hitrate roughly decreases as the number of visits decrease. Majority of the variance occur when number of visits is small.
### *hitrate_leadcache*: hitrate of LeadCache algorithm (no fsm)
### *hitrate_iplc*: overall hitrate of iplc algorithm (no states are discarded)
### *Average hitrate*: hitrate of iplc algorithm where only the states with visits greater than *{cutoff}* are taken into account.

In [1]:
import pandas as pd
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
pd.set_option('display.max_rows', None)

from IPython.core.display import display, HTML

CSS = """
.output {
    flex-direction: row;
}
"""

HTML('<style>{}</style>'.format(CSS))

# CMU Data

In [104]:
with pd.HDFStore('data/results/cmu_iplc_multifsm_u1_c1_t23203_d1_f300_10_23_22_59_00.h5') as storage:
    df = storage['df']
    metadata = storage.get_storer('df').attrs.metadata
    _ = metadata.pop('network_graph')
    _ = metadata.pop('data_description')

    cutoff=50
    df1 = df.drop(df[df['visits'] < cutoff].index)
    hitrate_filtered=df1['hits'].sum()/df1['visits'].sum()
    df1.sort_values(by=['fsm','visits'], inplace=True, ascending=[True,False])

    print(f'metadata: {metadata}\n')
    print(f'Only states with at least {cutoff} visits are considered.')
    print(f'Sorted in desc orderd of visits. \nAverage hitrate: {hitrate_filtered:0.3}')
    df1

metadata: {'users': 1, 'caches': 1, 'number of files': 300, 'cache size': 30, 'time': 23203, 'dataset': 'cmu', 'algo': 'iplc_multiple_fsm', 'hitrate_leadcache': 0.6125931991552817, 'hitrate_iplc': 0.45058828599750034}

Only states with at least 50 visits are considered.
Sorted in desc orderd of visits.
Average hitrate: 0.54

                     visits  hits   hitrate
fsm state
0   epsilon            9223  5584  0.605443
    epsilon:85         1016   502  0.494094
    epsilon:127        1012   559  0.552372
    epsilon:58          366   175  0.478142
    epsilon:103         340   166  0.488235
    epsilon:203         314   138  0.439490
    epsilon:8           249    99  0.397590
    epsilon:287         165    65  0.393939
    epsilon:209         159    64  0.402516
    epsilon:18          149    69  0.463087
    epsilon:137         131    51  0.389313
    epsilon:164         127    52  0.409449
    epsilon:127:85      119    50  0.420168
    epsilon:297         116    56  0.482759
    epsilon:127:127     114    47  0.412281
    epsilon:171         110    44  0.400000
    epsilon:227         108    40  0.370370
    epsilon:85:85       106    43  0.405660
    epsilon:191         103    46  0.446602
    epsilon:194         101    47  0.465347
    epsilon:64          101    41  0.405941
    epsilon:212         100    41  0.410000
    epsilon:66           98    33  0.336735
    epsilon:13           96    42  0.437500
    epsilon:85:127       95    43  0.452632
    epsilon:15           94    41  0.436170
    epsilon:57           85    35  0.411765
    epsilon:292          80    37  0.462500
    epsilon:128          78    21  0.269231
    epsilon:144          76    30  0.394737
    epsilon:80           71    25  0.352113
    epsilon:110          68    26  0.382353
    epsilon:46           66    26  0.393939
    epsilon:138          62    22  0.354839
    epsilon:76           59    24  0.406780
    epsilon:126          58    22  0.379310
    epsilon:299          56    21  0.375000
    epsilon:127:58       56    22  0.392857
    epsilon:107          54    23  0.425926
    epsilon:96           54    18  0.333333
    epsilon:115          53    19  0.358491
    epsilon:62           53    23  0.433962
    epsilon:61           53    17  0.320755
    epsilon:142          52    23  0.442308
    epsilon:278          51    16  0.313725
    epsilon:17           50    16  0.320000

In [2]:
with pd.HDFStore('data/results/cmu_iplc_multifsm_u1_c1_t10000_d1_f1000_10_24_00_18_10.h5') as storage:
    df = storage['df']
    metadata = storage.get_storer('df').attrs.metadata
    _ = metadata.pop('network_graph')
    _ = metadata.pop('data_description')

    cutoff=50
    df1 = df.drop(df[df['visits'] < cutoff].index)
    hitrate_filtered=df1['hits'].sum()/df1['visits'].sum()
    df1.sort_values(by=['fsm','visits'], inplace=True, ascending=[True,False])

    print(f'metadata: {metadata}\n')
    print(f'Only states with at least {cutoff} visits are considered.')
    print(f'Sorted in desc orderd of visits. \nAverage hitrate: {hitrate_filtered:0.3}')
    df1

metadata: {'users': 1, 'caches': 1, 'number of files': 1000, 'cache size': 100, 'time': 10000, 'dataset': 'cmu', 'algo': 'iplc_multiple_fsm', 'hitrate_leadcache': 0.7282, 'hitrate_iplc': 0.586}

Only states with at least 50 visits are considered.
Sorted in desc orderd of visits.
Average hitrate: 0.672

                                     visits  hits   hitrate
fsm state
0   epsilon                            3565  2458  0.689481
    epsilon:853                        1816  1241  0.683370
    epsilon:853:853                     941   596  0.633369
    epsilon:853:853:853                 457   298  0.652079
    epsilon:853:853:853:853             238   148  0.621849
    epsilon:853:853:853:853:853         118    70  0.593220
    epsilon:493                          77    50  0.649351
    epsilon:853:853:853:853:853:853      60    32  0.533333
    epsilon:127                          57    32  0.561404

In [3]:
with pd.HDFStore('data/results/cmu_iplc_multifsm_u15_c7_t1546_d8_f300_10_23_11_26_26.h5') as storage:
    df = storage['df']
    metadata = storage.get_storer('df').attrs.metadata
    _ = metadata.pop('network_graph')
    _ = metadata.pop('data_description')

    cutoff=20
    df1 = df.drop(df[df['visits'] < cutoff].index)
    hitrate_filtered=df1['hits'].sum()/df1['visits'].sum()
    df1.sort_values(by=['fsm','visits'], inplace=True, ascending=[True,False])

    print(f'metadata: {metadata}\n')
    print(f'Only states with at least {cutoff} visits are considered.')
    print(f'Sorted in desc orderd of visits. \nAverage hitrate: {hitrate_filtered:0.3}')

    for i in range(metadata['users']):
        df1.loc[[i]]
    # df1

metadata: {'users': 15, 'caches': 7, 'number of files': 300, 'cache size': 30, 'time': 1546, 'dataset': 'cmu', 'algo': 'iplc_multiple_fsm', 'hitrate_leadcache': 0.6432082794307892, 'hitrate_iplc': 0.6057783527382492}

Only states with at least 20 visits are considered.
Sorted in desc orderd of visits.
Average hitrate: 0.621

                 visits  hits   hitrate
fsm state
0   epsilon         837   396  0.473118
    epsilon:85       93    31  0.333333
    epsilon:127      92    39  0.423913
    epsilon:203      29    13  0.448276
    epsilon:58       29    14  0.482759
    epsilon:103      25     7  0.280000
    epsilon:8        22    11  0.500000

                 visits  hits   hitrate
fsm state
1   epsilon         775   492  0.634839
    epsilon:85      105    65  0.619048
    epsilon:127      79    52  0.658228
    epsilon:58       30    17  0.566667
    epsilon:203      29    22  0.758621
    epsilon:103      26    15  0.576923

                 visits  hits   hitrate
fsm state
2   epsilon         786   567  0.721374
    epsilon:85       97    77  0.793814
    epsilon:127      82    59  0.719512
    epsilon:203      28    18  0.642857
    epsilon:103      26    18  0.692308
    epsilon:58       24    14  0.583333

                 visits  hits   hitrate
fsm state
3   epsilon         787   554  0.703939
    epsilon:127      85    58  0.682353
    epsilon:85       77    54  0.701299
    epsilon:58       40    30  0.750000
    epsilon:103      36    21  0.583333
    epsilon:203      34    21  0.617647
    epsilon:287      20    15  0.750000

                 visits  hits   hitrate
fsm state
4   epsilon         799   508  0.635795
    epsilon:127      81    54  0.666667
    epsilon:85       45    29  0.644444
    epsilon:103      44    25  0.568182
    epsilon:203      33    24  0.727273
    epsilon:58       28    17  0.607143
    epsilon:8        25    15  0.600000

                 visits  hits   hitrate
fsm state
5   epsilon         770   519  0.674026
    epsilon:85      107    73  0.682243
    epsilon:127      67    50  0.746269
    epsilon:58       39    24  0.615385
    epsilon:203      28    18  0.642857
    epsilon:8        26    18  0.692308
    epsilon:103      24    17  0.708333
    epsilon:287      21    14  0.666667

                 visits  hits   hitrate
fsm state
6   epsilon         792   509  0.642677
    epsilon:85      120    72  0.600000
    epsilon:127      76    51  0.671053
    epsilon:58       31    24  0.774194
    epsilon:8        25    14  0.560000

                 visits  hits   hitrate
fsm state
7   epsilon         770   536  0.696104
    epsilon:127     100    69  0.690000
    epsilon:85       89    54  0.606742
    epsilon:58       39    22  0.564103
    epsilon:103      23    12  0.521739
    epsilon:8        20    14  0.700000
    epsilon:18       20    10  0.500000

                 visits  hits   hitrate
fsm state
8   epsilon         800   385  0.481250
    epsilon:127      92    39  0.423913
    epsilon:85       62    22  0.354839
    epsilon:103      32    10  0.312500
    epsilon:203      32    10  0.312500
    epsilon:58       24    12  0.500000
    epsilon:8        23     8  0.347826

                 visits  hits   hitrate
fsm state
9   epsilon         771   406  0.526589
    epsilon:85      109    57  0.522936
    epsilon:127      72    22  0.305556
    epsilon:103      30    13  0.433333
    epsilon:287      23     8  0.347826
    epsilon:8        23    10  0.434783
    epsilon:58       20     8  0.400000

                 visits  hits   hitrate
fsm state
10  epsilon         766   562  0.733681
    epsilon:85      102    77  0.754902
    epsilon:127      76    53  0.697368
    epsilon:58       38    33  0.868421
    epsilon:103      28    24  0.857143

                 visits  hits   hitrate
fsm state
11  epsilon         779   486  0.623877
    epsilon:85      103    51  0.495146
    epsilon:127      88    40  0.454545
    epsilon:103      39    19  0.487179
    epsilon:58       29    14  0.482759
    epsilon:8        20     8  0.400000

                 visits  hits   hitrate
fsm state
12  epsilon         780   506  0.648718
    epsilon:127      96    61  0.635417
    epsilon:85       57    38  0.666667
    epsilon:58       29    18  0.620690
    epsilon:103      27    20  0.740741
    epsilon:8        23    15  0.652174
    epsilon:203      20    15  0.750000

                 visits  hits   hitrate
fsm state
13  epsilon         785   466  0.593631
    epsilon:85       99    51  0.515152
    epsilon:127      72    41  0.569444
    epsilon:58       26    18  0.692308
    epsilon:203      22    11  0.500000
    epsilon:103      21     9  0.428571

                 visits  hits   hitrate
fsm state
14  epsilon         785   528  0.672611
    epsilon:85       94    58  0.617021
    epsilon:127      63    43  0.682540
    epsilon:58       42    30  0.714286
    epsilon:103      35    24  0.685714
    epsilon:287      30    19  0.633333
    epsilon:203      25    17  0.680000
    epsilon:8        22    10  0.454545

In [3]:
with pd.HDFStore('data/results/cmu_iplc_multifsm_u30_c15_t500_d10_f300_2021_10_23_02_31_35.h5') as storage:
    df = storage['df']
    metadata = storage.get_storer('df').attrs.metadata
    _ = metadata.pop('network_graph')
    _ = metadata.pop('data_description')

    cutoff=20
    df1 = df.drop(df[df['visits'] < cutoff].index)
    hitrate_filtered=df1['hits'].sum()/df1['visits'].sum()
    df1.sort_values(by=['fsm','visits'], inplace=True, ascending=[True,False])

    print(f'metadata: {metadata}\n')
    print(f'Only states with at least {cutoff} visits are considered.')
    print(f'Sorted in desc orderd of visits. \nAverage hitrate: {hitrate_filtered:0.3}')

    for i in range(metadata['users']):
        df1.loc[[i]]
    # df1

metadata: {'users': 30, 'caches': 15, 'number of files': 300, 'cache size': 30, 'time': 500, 'dataset': 'ratings.dat', 'algo': 'iplc_multiple_fsm', 'hitrate_leadcache': 0.6212, 'hitrate_iplc': 0.574}

Only states with at least 20 visits are considered.
Sorted in desc orderd of visits.
Average hitrate: 0.577

                 visits  hits   hitrate
fsm state
0   epsilon         321   144  0.448598
    epsilon:127      43    19  0.441860
    epsilon:85       23     6  0.260870

                visits  hits   hitrate
fsm state
1   epsilon        293   135  0.460751
    epsilon:85      43    12  0.279070

                 visits  hits   hitrate
fsm state
2   epsilon         279   197  0.706093
    epsilon:85       41    28  0.682927
    epsilon:127      29    24  0.827586

                 visits  hits   hitrate
fsm state
3   epsilon         293   165  0.563140
    epsilon:85       36    18  0.500000
    epsilon:127      22     9  0.409091

                 visits  hits   hitrate
fsm state
4   epsilon         290   211  0.727586
    epsilon:127      38    27  0.710526
    epsilon:85       38    26  0.684211

                 visits  hits   hitrate
fsm state
5   epsilon         288   165  0.572917
    epsilon:85       35    21  0.600000
    epsilon:127      26    17  0.653846

                 visits  hits   hitrate
fsm state
6   epsilon         293   152  0.518771
    epsilon:127      33    13  0.393939
    epsilon:85       24     9  0.375000

                 visits  hits   hitrate
fsm state
7   epsilon         291   159  0.546392
    epsilon:127      22    11  0.500000
    epsilon:85       20     7  0.350000

                 visits  hits   hitrate
fsm state
8   epsilon         290   154  0.531034
    epsilon:127      28    13  0.464286
    epsilon:85       21     9  0.428571

                 visits  hits   hitrate
fsm state
9   epsilon         303   167  0.551155
    epsilon:127      39    20  0.512821

                 visits  hits   hitrate
fsm state
10  epsilon         289   150  0.519031
    epsilon:85       43    19  0.441860
    epsilon:127      20    10  0.500000

                visits  hits   hitrate
fsm state
11  epsilon        286   183  0.639860
    epsilon:85      35    22  0.628571

                 visits  hits   hitrate
fsm state
12  epsilon         291   191  0.656357
    epsilon:85       44    32  0.727273
    epsilon:127      28    16  0.571429

                 visits  hits   hitrate
fsm state
13  epsilon         302   108  0.357616
    epsilon:85       37    15  0.405405
    epsilon:127      22     9  0.409091

                 visits  hits   hitrate
fsm state
14  epsilon         285   143  0.501754
    epsilon:127      33    14  0.424242
    epsilon:85       32    17  0.531250

                 visits  hits   hitrate
fsm state
15  epsilon         279   148  0.530466
    epsilon:127      42    21  0.500000
    epsilon:85       32    14  0.437500

                 visits  hits   hitrate
fsm state
16  epsilon         292   145  0.496575
    epsilon:127      26    10  0.384615
    epsilon:85       25    13  0.520000

                 visits  hits   hitrate
fsm state
17  epsilon         292   207  0.708904
    epsilon:127      38    31  0.815789
    epsilon:58       20    13  0.650000

                 visits  hits   hitrate
fsm state
18  epsilon         286   133  0.465035
    epsilon:85       39    18  0.461538
    epsilon:127      22     6  0.272727

                 visits  hits   hitrate
fsm state
19  epsilon         288   199  0.690972
    epsilon:85       43    24  0.558140
    epsilon:127      23    12  0.521739

                 visits  hits   hitrate
fsm state
20  epsilon         274   164  0.598540
    epsilon:85       32    15  0.468750
    epsilon:127      31    18  0.580645

                 visits  hits   hitrate
fsm state
21  epsilon         282   160  0.567376
    epsilon:85       43    25  0.581395
    epsilon:127      30    15  0.500000

                 visits  hits   hitrate
fsm state
22  epsilon         279   231  0.827957
    epsilon:85       45    35  0.777778
    epsilon:127      26    21  0.807692

                 visits  hits   hitrate
fsm state
23  epsilon         287   138  0.480836
    epsilon:85       40    29  0.725000
    epsilon:127      38    16  0.421053

                 visits  hits   hitrate
fsm state
24  epsilon         287   153  0.533101
    epsilon:127      33    21  0.636364

                 visits  hits   hitrate
fsm state
25  epsilon         289   210  0.726644
    epsilon:127      41    30  0.731707

                 visits  hits   hitrate
fsm state
26  epsilon         290   191  0.658621
    epsilon:85       35    24  0.685714
    epsilon:127      26    19  0.730769

                 visits  hits   hitrate
fsm state
27  epsilon         287   202  0.703833
    epsilon:85       37    22  0.594595
    epsilon:127      29    20  0.689655

                 visits  hits   hitrate
fsm state
28  epsilon         286   146  0.510490
    epsilon:85       29    17  0.586207
    epsilon:127      24    11  0.458333

                 visits  hits   hitrate
fsm state
29  epsilon         284   190  0.669014
    epsilon:85       49    29  0.591837
    epsilon:127      24    14  0.583333

# Ratings Data

In [86]:
with pd.HDFStore('data/results/ratings_iplc_multifsm_u1_c1_t82070_d1_f300_10_23_23_32_07.h5') as storage:
    df = storage['df']
    metadata = storage.get_storer('df').attrs.metadata
    _ = metadata.pop('network_graph')
    _ = metadata.pop('data_description')

    cutoff=100
    df1 = df.drop(df[df['visits'] < cutoff].index)
    hitrate_filtered=df1['hits'].sum()/df1['visits'].sum()
    df1.sort_values(by=['fsm','visits'], inplace=True, ascending=[True,False])

    print(f'metadata: {metadata}\n')
    print(f'Only states with at least {cutoff} visits are considered.')
    print(f'Sorted in desc orderd of visits. \nAverage hitrate: {hitrate_filtered:0.3}')

    for i in range(metadata['users']):
        df1.loc[[i]]
    # df1

metadata: {'users': 1, 'caches': 1, 'number of files': 300, 'cache size': 30, 'time': 82070, 'dataset': 'ratings', 'algo': 'iplc_multiple_fsm', 'hitrate_leadcache': 0.4464725234555867, 'hitrate_iplc': 0.34455952235896187}

Only states with at least 100 visits are considered.
Sorted in desc orderd of visits.
Average hitrate: 0.423

                    visits   hits   hitrate
fsm state
0   epsilon          31860  13723  0.430728
    epsilon:253       1149    643  0.559617
    epsilon:106        938    482  0.513859
    epsilon:287        790    443  0.560759
    epsilon:0          744    407  0.547043
    epsilon:49         687    415  0.604076
    epsilon:33         648    317  0.489198
    epsilon:31         564    271  0.480496
    epsilon:216        532    248  0.466165
    epsilon:20         512    229  0.447266
    epsilon:38         512    218  0.425781
    epsilon:107        493    237  0.480730
    epsilon:144        483    243  0.503106
    epsilon:46         409    167  0.408313
    epsilon:10         392    155  0.395408
    epsilon:35         379    192  0.506596
    epsilon:24         369    194  0.525745
    epsilon:228        359    137  0.381616
    epsilon:68         355    132  0.371831
    epsilon:284        338    159  0.470414
    epsilon:5          324    146  0.450617
    epsilon:258        318    145  0.455975
    epsilon:159        309    127  0.411003
    epsilon:9          309    124  0.401294
    epsilon:16         303    159  0.524752
    epsilon:147        300     81  0.270000
    epsilon:283        285    107  0.375439
    epsilon:279        284    117  0.411972
    epsilon:259        283     79  0.279152
    epsilon:15         281     82  0.291815
    epsilon:246        280    101  0.360714
    epsilon:1          276     95  0.344203
    epsilon:239        274    129  0.470803
    epsilon:291        271    105  0.387454
    epsilon:101        266     90  0.338346
    epsilon:155        264    101  0.382576
    epsilon:224        259     79  0.305019
    epsilon:202        256    101  0.394531
    epsilon:92         253    104  0.411067
    epsilon:23         252     90  0.357143
    epsilon:136        238     80  0.336134
    epsilon:179        231     83  0.359307
    epsilon:154        226     74  0.327434
    epsilon:192        221     91  0.411765
    epsilon:167        215     86  0.400000
    epsilon:145        213     59  0.276995
    epsilon:190        213     93  0.436620
    epsilon:108        210     74  0.352381
    epsilon:60         209     64  0.306220
    epsilon:156        203     86  0.423645
    epsilon:44         200     69  0.345000
    epsilon:2          200     36  0.180000
    epsilon:56         192     71  0.369792
    epsilon:138        187     51  0.272727
    epsilon:240        184     70  0.380435
    epsilon:6          179     46  0.256983
    epsilon:157        175     71  0.405714
    epsilon:174        171     60  0.350877
    epsilon:166        169     58  0.343195
    epsilon:47         167     53  0.317365
    epsilon:265        159     57  0.358491
    epsilon:50         159     52  0.327044
    epsilon:18         157     34  0.216561
    epsilon:294        155     47  0.303226
    epsilon:245        151     33  0.218543
    epsilon:21         150     45  0.300000
    epsilon:28         150     61  0.406667
    epsilon:162        149     44  0.295302
    epsilon:102        144     43  0.298611
    epsilon:158        141     51  0.361702
    epsilon:229        140     35  0.250000
    epsilon:217        139     29  0.208633
    epsilon:58         136     53  0.389706
    epsilon:254        134     26  0.194030
    epsilon:139        134     52  0.388060
    epsilon:223        133     33  0.248120
    epsilon:225        129     38  0.294574
    epsilon:43         129     46  0.356589
    epsilon:120        128     53  0.414062
    epsilon:297        128     56  0.437500
    epsilon:164        127     49  0.385827
    epsilon:210        124     31  0.250000
    epsilon:4          124     28  0.225806
    epsilon:215        116     33  0.284483
    epsilon:67         116     42  0.362069
    epsilon:230        114     22  0.192982
    epsilon:269        108     24  0.222222
    epsilon:201        105     41  0.390476
    epsilon:169        103     17  0.165049
    epsilon:49:287     103     58  0.563107
    epsilon:152        101     34  0.336634
    epsilon:187        100     28  0.280000
    epsilon:98         100     32  0.320000

In [4]:
with pd.HDFStore('data/results/ratings_iplc_multifsm_u10_c4_t8207_d6_f300_10_23_13_39_31.h5') as storage:
    df = storage['df']
    metadata = storage.get_storer('df').attrs.metadata
    _ = metadata.pop('network_graph')
    _ = metadata.pop('data_description')

    cutoff=100
    df1 = df.drop(df[df['visits'] < cutoff].index)
    hitrate_filtered=df1['hits'].sum()/df1['visits'].sum()
    df1.sort_values(by=['fsm','visits'], inplace=True, ascending=[True,False])

    print(f'metadata: {metadata}\n')
    print(f'Only states with at least {cutoff} visits are considered.')
    print(f'Sorted in desc orderd of visits. \nAverage hitrate: {hitrate_filtered:0.3}')

    for i in range(metadata['users']):
        df1.loc[[i]]
    # df1

metadata: {'users': 10, 'caches': 4, 'number of files': 300, 'cache size': 30, 'time': 8207, 'dataset': 'ratings', 'algo': 'iplc_multiple_fsm', 'hitrate_leadcache': 0.533739490678689, 'hitrate_iplc': 0.5064091629097113}

Only states with at least 100 visits are considered.
Sorted in desc orderd of visits.
Average hitrate: 0.539

                 visits  hits   hitrate
fsm state
0   epsilon        3922  2031  0.517848
    epsilon:253     145    59  0.406897
    epsilon:0       118    51  0.432203
    epsilon:106     113    51  0.451327
    epsilon:287     102    33  0.323529

                 visits  hits   hitrate
fsm state
1   epsilon        3940  1980  0.502538
    epsilon:253     129    58  0.449612
    epsilon:106     127    55  0.433071
    epsilon:287     111    52  0.468468

                 visits  hits   hitrate
fsm state
2   epsilon        3937  2440  0.619761
    epsilon:253     143    79  0.552448
    epsilon:106     127    68  0.535433
    epsilon:287     105    58  0.552381
    epsilon:49      100    61  0.610000

                 visits  hits   hitrate
fsm state
3   epsilon        3911  1915  0.489645
    epsilon:253     127    59  0.464567
    epsilon:106     117    50  0.427350

                 visits  hits   hitrate
fsm state
4   epsilon        3920  2842  0.725000
    epsilon:253     148   100  0.675676
    epsilon:0       124    86  0.693548
    epsilon:106     117    87  0.743590
    epsilon:287     106    73  0.688679

                 visits  hits   hitrate
fsm state
5   epsilon        3941  2008  0.509515
    epsilon:253     138    61  0.442029
    epsilon:106     104    55  0.528846

                 visits  hits   hitrate
fsm state
6   epsilon        3935  2425  0.616264
    epsilon:253     142    93  0.654930
    epsilon:106     116    79  0.681034
    epsilon:0       102    58  0.568627

                 visits  hits   hitrate
fsm state
7   epsilon        3946  1884  0.477446
    epsilon:253     144    63  0.437500
    epsilon:106     124    53  0.427419
    epsilon:287     102    41  0.401961

                 visits  hits   hitrate
fsm state
8   epsilon        3940  1926  0.488832
    epsilon:253     128    65  0.507812
    epsilon:106     121    54  0.446281
    epsilon:287     105    41  0.390476
    epsilon:0       103    55  0.533981

                 visits  hits   hitrate
fsm state
9   epsilon        3943  1883  0.477555
    epsilon:253     143    59  0.412587
    epsilon:287     118    48  0.406780
    epsilon:106     102    38  0.372549
    epsilon:49      101    39  0.386139
    epsilon:0       100    51  0.510000

In [5]:
with pd.HDFStore('data/results/ratings_iplc_multifsm_u15_c7_t5471_d8_f300_10_23_20_22_04.h5') as storage:
    df = storage['df']
    metadata = storage.get_storer('df').attrs.metadata
    _ = metadata.pop('network_graph')
    _ = metadata.pop('data_description')

    cutoff=100
    df1 = df.drop(df[df['visits'] < cutoff].index)
    hitrate_filtered=df1['hits'].sum()/df1['visits'].sum()
    df1.sort_values(by=['fsm','visits'], inplace=True, ascending=[True,False])

    print(f'metadata: {metadata}\n')
    print(f'Only states with at least {cutoff} visits are considered.')
    print(f'Sorted in desc orderd of visits. \nAverage hitrate: {hitrate_filtered:0.3}')

    for i in range(metadata['users']):
        df1.loc[[i]]
    # df1

metadata: {'users': 15, 'caches': 7, 'number of files': 300, 'cache size': 30, 'time': 5471, 'dataset': 'ratings', 'algo': 'iplc_multiple_fsm', 'hitrate_leadcache': 0.6082617437397185, 'hitrate_iplc': 0.5736550295497471}

Only states with at least 100 visits are considered.
Sorted in desc orderd of visits.
Average hitrate: 0.605

             visits  hits  hitrate
fsm state
0   epsilon    2714  1292  0.47605

                 visits  hits   hitrate
fsm state
1   epsilon        2714  1695  0.624539
    epsilon:253     115    63  0.547826

                 visits  hits   hitrate
fsm state
2   epsilon        2702  1915  0.708734
    epsilon:253     111    84  0.756757

             visits  hits   hitrate
fsm state
3   epsilon    2715  1918  0.706446

                 visits  hits   hitrate
fsm state
4   epsilon        2708  1702  0.628508
    epsilon:253     112    69  0.616071

             visits  hits   hitrate
fsm state
5   epsilon    2712  1743  0.642699

                 visits  hits   hitrate
fsm state
6   epsilon        2695  1741  0.646011
    epsilon:253     108    61  0.564815

                 visits  hits   hitrate
fsm state
7   epsilon        2713  1817  0.669738
    epsilon:253     115    87  0.756522

                 visits  hits   hitrate
fsm state
8   epsilon        2704  1180  0.436391
    epsilon:253     104    34  0.326923

             visits  hits   hitrate
fsm state
9   epsilon    2716  1284  0.472754

             visits  hits   hitrate
fsm state
10  epsilon    2703  1913  0.707732

             visits  hits   hitrate
fsm state
11  epsilon    2703  1545  0.571587

             visits  hits  hitrate
fsm state
12  epsilon    2727  1632  0.59846

                 visits  hits   hitrate
fsm state
13  epsilon        2706  1520  0.561715
    epsilon:253     110    55  0.500000

             visits  hits  hitrate
fsm state
14  epsilon    2704  1688  0.62426

In [99]:
with pd.HDFStore('data/results/ratings_iplc_multifsm_u30_c15_t500_d10_f300_10_23_22_29_06.h5') as storage:
    df = storage['df']
    metadata = storage.get_storer('df').attrs.metadata
    _ = metadata.pop('network_graph')
    _ = metadata.pop('data_description')

    cutoff=10
    df1 = df.drop(df[df['visits'] < cutoff].index)
    hitrate_filtered=df1['hits'].sum()/df1['visits'].sum()
    df1.sort_values(by=['fsm','visits'], inplace=True, ascending=[True,False])

    print(f'metadata: {metadata}\n')
    print(f'Only states with at least {cutoff} visits are considered.')
    print(f'Sorted in desc orderd of visits. \nAverage hitrate: {hitrate_filtered:0.3}')

    for i in range(metadata['users']):
        df1.loc[[i]]
    # df1

metadata: {'users': 30, 'caches': 15, 'number of files': 300, 'cache size': 30, 'time': 500, 'dataset': 'ratings', 'algo': 'iplc_multiple_fsm', 'hitrate_leadcache': 0.564, 'hitrate_iplc': 0.5322666666666667}

Only states with at least 10 visits are considered.
Sorted in desc orderd of visits.
Average hitrate: 0.537

                 visits  hits   hitrate
fsm state
0   epsilon         310   141  0.454839
    epsilon:253      11     5  0.454545

                 visits  hits   hitrate
fsm state
1   epsilon         316   127  0.401899
    epsilon:106      17     8  0.470588
    epsilon:253      12     9  0.750000

                 visits  hits   hitrate
fsm state
2   epsilon         310   200  0.645161
    epsilon:287      15    12  0.800000
    epsilon:0        14    11  0.785714
    epsilon:253      13     9  0.692308

                 visits  hits   hitrate
fsm state
3   epsilon         317   160  0.504732
    epsilon:253      10     4  0.400000

                 visits  hits   hitrate
fsm state
4   epsilon         314   214  0.681529
    epsilon:253      17    14  0.823529

                 visits  hits   hitrate
fsm state
5   epsilon         313   168  0.536741
    epsilon:287      10     8  0.800000

             visits  hits   hitrate
fsm state
6   epsilon     309   151  0.488673

                 visits  hits   hitrate
fsm state
7   epsilon         312   169  0.541667
    epsilon:253      17     7  0.411765

                 visits  hits   hitrate
fsm state
8   epsilon         317   149  0.470032
    epsilon:253      17    11  0.647059
    epsilon:0        16     6  0.375000

                 visits  hits   hitrate
fsm state
9   epsilon         315   168  0.533333
    epsilon:253      15     6  0.400000
    epsilon:106      12     7  0.583333

                 visits  hits   hitrate
fsm state
10  epsilon         315   149  0.473016
    epsilon:106      12     7  0.583333

                 visits  hits   hitrate
fsm state
11  epsilon         314   178  0.566879
    epsilon:253      13     9  0.692308

                 visits  hits   hitrate
fsm state
12  epsilon         310   187  0.603226
    epsilon:287      15    11  0.733333
    epsilon:253      12     8  0.666667
    epsilon:106      11     7  0.636364

                 visits  hits   hitrate
fsm state
13  epsilon         318   110  0.345912
    epsilon:106      10     4  0.400000

             visits  hits  hitrate
fsm state
14  epsilon     318   129  0.40566

                 visits  hits   hitrate
fsm state
15  epsilon         316   143  0.452532
    epsilon:287      10     5  0.500000

                 visits  hits   hitrate
fsm state
16  epsilon         307   145  0.472313
    epsilon:106      12     7  0.583333

                 visits  hits   hitrate
fsm state
17  epsilon         314   224  0.713376
    epsilon:253      13     8  0.615385

             visits  hits  hitrate
fsm state
18  epsilon     320   126  0.39375

                 visits  hits   hitrate
fsm state
19  epsilon         311   193  0.620579
    epsilon:253      12     6  0.500000
    epsilon:287      10     5  0.500000

                 visits  hits   hitrate
fsm state
20  epsilon         318   170  0.534591
    epsilon:253      13     7  0.538462
    epsilon:0        13     9  0.692308

             visits  hits   hitrate
fsm state
21  epsilon     312   152  0.487179

                 visits  hits   hitrate
fsm state
22  epsilon         315   245  0.777778
    epsilon:253      13    10  0.769231
    epsilon:287      12     9  0.750000
    epsilon:31       10     8  0.800000

             visits  hits   hitrate
fsm state
23  epsilon     312   141  0.451923

                 visits  hits   hitrate
fsm state
24  epsilon         311   156  0.501608
    epsilon:106      12     8  0.666667
    epsilon:38       11     4  0.363636

               visits  hits   hitrate
fsm state
25  epsilon       315   201  0.638095
    epsilon:0      11     4  0.363636

                 visits  hits   hitrate
fsm state
26  epsilon         317   201  0.634069
    epsilon:106      11    10  0.909091
    epsilon:31       10     5  0.500000

                 visits  hits   hitrate
fsm state
27  epsilon         316   196  0.620253
    epsilon:253      12     8  0.666667
    epsilon:287      11     5  0.454545
    epsilon:106      10     7  0.700000

                 visits  hits   hitrate
fsm state
28  epsilon         312   138  0.442308
    epsilon:287      13     2  0.153846
    epsilon:253      12     5  0.416667

                 visits  hits   hitrate
fsm state
29  epsilon         312   199  0.637821
    epsilon:287      10     5  0.500000