## Hitrate roughly decreases as the number of visits decrease. Majority of the variance occur when number of visits is small.

In [74]:
import pandas as pd
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
pd.set_option('display.max_rows', None)

from IPython.core.display import display, HTML

def display_side_by_side(dfs:list, captions:list):
    """Display tables side by side to save vertical space
    Input:
        dfs: list of pandas.DataFrame
        captions: list of table captions
    """
    output = ""
    combined = dict(zip(captions, dfs))
    for caption, df in combined.items():
        output += df.style.set_table_attributes("style='display:inline'").set_caption(caption)._repr_html_()
        output += "\xa0\xa0\xa0"
    display(HTML(output))

metadata: {'users': 1, 'caches': 1, 'number of files': 1000, 'cache size': 100, 'time': 10000, 'dataset': 'cmu', 'algo': 'iplc_multiple_fsm', 'hitrate_leadcache': 0.7282, 'hitrate_iplc': 0.586}

Only states with at least 50 visits are considered.
Sorted in desc orderd of visits. Average hitrate: 0.672

                                     visits  hits   hitrate
fsm state
0   epsilon                            3565  2458  0.689481
    epsilon:853                        1816  1241  0.683370
    epsilon:853:853                     941   596  0.633369
    epsilon:853:853:853                 457   298  0.652079
    epsilon:853:853:853:853             238   148  0.621849
    epsilon:853:853:853:853:853         118    70  0.593220
    epsilon:493                          77    50  0.649351
    epsilon:853:853:853:853:853:853      60    32  0.533333
    epsilon:127                          57    32  0.561404

In [78]:
with pd.HDFStore('data/results/cmu_iplc_multifsm_u15_c7_t1546_d8_f300_10_23_11_26_26.h5') as storage:
    df = storage['df']
    metadata = storage.get_storer('df').attrs.metadata
    _ = metadata.pop('network_graph')
    _ = metadata.pop('data_description')

    cutoff=50
    df1 = df.drop(df[df['visits'] < cutoff].index)
    hitrate_filtered=df1['hits'].sum()/df1['visits'].sum()
    df1.sort_values(by=['fsm','visits'], inplace=True, ascending=[True,False])

    print(f'metadata: {metadata}\n')
    print(f'Only states with at least {cutoff} visits are considered.')
    print(f'Sorted in desc orderd of visits. \nAverage hitrate: {hitrate_filtered:0.3}')

    dfs:list=[]
    comments:list=[]
    for i in range(metadata['users']):
        dfs.append(df1.loc[[i]])
        comments.append('100 adsf')
    display_side_by_side(dfs,comments)
    # df1

metadata: {'users': 15, 'caches': 7, 'number of files': 300, 'cache size': 30, 'time': 1546, 'dataset': 'cmu', 'algo': 'iplc_multiple_fsm', 'hitrate_leadcache': 0.6432082794307892, 'hitrate_iplc': 0.6057783527382492}

Only states with at least 50 visits are considered.
Sorted in desc orderd of visits.
Average hitrate: 0.624